html {
  font-size: 20px;
  color: white;
  font-family: 'Satisfy', cursive;
  
}
body {
  display: grid;
  grid-template-rows: 3rem 5rem auto 2rem;
  align-content: center;
  margin: 0 auto;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-student-quarters.appspot.com/o/MSQ%20Website%2FLanding%20page%20Photo.png?alt=media&token=b86a316b-6531-4ca8-a472-0b38c2ce8597);
    background-size: cover;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  /* borders */
  border-bottom: 1px white solid;
}

header div {
  margin-left: 20px;
}

header .right {
  margin-left: auto;
}
.logo {
  width: 50px;
  height: 50px;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 3rem 0 1rem 0;
  padding: .5rem 100px;
  border-top: 1px white solid;
}


footer .right {
  margin-left: auto;
}


.content {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(0, 0, 0, .5);
  width: 800px;
  min-height: 25rem;
  margin: 0 auto;
  padding: 1rem 50px;
  align-items: center;
  /* borders */
  border-radius: 25px;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.title {
  text-align: center;
}
