/* Main .css file for the Landing page (index.html) */

/* settings to define the default font and parameters for all the page */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

html {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
  height: 100%
  width: 100%;
}

/* settings to define the structure of the body. GRID is selected to arrange the sections in rows */
body {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  margin: 0;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-student-quarters.appspot.com/o/MSQ%20Website%2FLanding%20page%20Photo.png?alt=media&token=b86a316b-6531-4ca8-a472-0b38c2ce8597);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;

}


/* setting to define the Header. FLEX is used to structure the section and the font is also different here */
/* GRID 1 (5rem)*/
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* justify-content: space-around;
  /* font */
  font: normal 700 20px/1 'Cookie', sans-serif;
  /* bottom border line */
  border-bottom: 1px white solid;
  margin: 0 1rem 1rem;
  padding: 1rem 0;
  color: white;
}
/* margins and alignment for the header */
  header div {
    margin-left: 20px;
  }

  header h5{
    font-size: 25px;
  }
  header .right {
    margin-left: auto;
  }
  /* logo size */
  .logo {
    width: 50px;
    height: 50px;
  }

/* setting to define the Footer. FLEX is used to structure the section and the font is also different here */
/* GRID 10 (5rem)*/  
footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #6B7A8F;
  color: white;
  /* margins and alignment for the footer
  margin: 1rem 3rem;*/
  padding: .5rem 2rem;
  position: relative;
  
  bottom: 0;
  left: 0;
  /* font */
  font-family: 'Cookie', cursive;
  font-size: 20px;
}
footer div {
  margin-left: 1rem;
}
footer .right {
  margin-left: auto;
}
/* logo size */
.logo-footer {
  width: 30px;
  height: 30px;
}

/* Settings for the Donate Button: */
/*
.Donate-button{
  display: flex;
  flex-flow: row nowrap;
  
  
}
  ul-donate {
    margin: 0 0 0 46.5%;
    text-align: center;
    position: relative;
    cursor: pointer;

  }

  li-donate {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  @-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  .round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
     
    width: 100%;
    height: 100%;
    padding-top: 30px;    
    text-decoration: none;    
    text-align: center;
    font-size: 25px;    
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Source Sans Pro", sans-serif;   
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
  }

  .round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  a.yellow {
    background-color: rgba(252,227,1,1);
    color: rgba(153,38,0,1);
    border-color: #f7c331;
  }

  a.yellow:hover {
    color: rgba(252,227,1,1);
  }

  .round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
  }

  .round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);  
  }
  .yellow span {
    background: rgba(161,145,0,.7); 
  }
*/

/* settings to define the "My Student Quarters" main title */
/* GRID 2 (10rem)*/
.title {
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 50px;
  color: white;
  margin-top: 2rem;
}

/* settings to define the "Welcome slogan and buttons" section */
/* GRID 3 (auto)*/
.main-section1 {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(0, 0, 0, .5); /* translucid background*/
  max-width: 600px;
  margin: 2.5rem auto 5rem auto;
  padding: 1rem 50px;
  align-items: center;
  text-align: center;
  border-radius: 25px; /* borders round */
  color: white;
}

.MSQ-welome {
}

.MSQ-thanks {
  margin: 10rem auto 12.5rem;
}

.button-bar {
  margin: 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.button-thanks {
  margin: 1rem 2rem 0;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.button {
  background:    #f7c331;
  border-radius: 5px;
  padding:       1rem 1rem 0;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 18px/1 "Source Sans Pro", sans-serif;
  text-align:    center;
  text-shadow:   none;


  cursor: pointer;
  margin: auto 1rem 1rem;
  
}

/* settings to define the "bounce down arrow" */
/* GRID 4 (auto)*/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.BounceArrow { 
  width: 100%; 
  text-align: center;
  margin:2rem 0 4rem 0;
}
.middle, .go-here {
  position: top;
  height: 10em;
}
.fa-circle { color: transparent; }
.arrow-down { 
  color: white; 
}
  .fa-stack {
      animation: bounce 2s infinite;
    }
    
   .fa-stack &:hover {
      animation: none; 
    }

/* settings to define the "What is My Student Quarters" section */
/* GRID 5 (27rem)*/
.MSQ-what {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  align-items: center;
  background-color: white;

}

* {box-sizing:border-box}
        .mySlides {
          display: grid;
          
        }

        /* Slideshow container */
        .slideshow-container {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          margin: auto;
          min-height: 24rem;
          


        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: grey;
          font-weight: bold;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #323232;
          padding: 0 1rem;
          width: 100%;
          text-align: center;
          align-content: center;
          margin: -3rem auto;
        }
        .text h2 {
          margin-bottom: 2rem;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor:pointer;
          height: 13px;
          width: 13px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        


/* settings to define the "Our Values" section */
/* GRID 6 (auto)*/
.MSQ-values {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  padding: 1rem 5rem;
  align-items: center;
  background-color: #DCC7AA;
}
 .MSQ-values h3 {
      margin:  1% 0 1% 0;
  }

  .MSQ-values p {
    text-align: center;
  }

/* settings to define the "Applications" section */
/* GRID 7 (auto)*/
.MSQ-applications {
  display: flex;
  flex-flow: column nowrap;
  padding: 5rem 3rem;
  align-items: center;
  background: white;
  min-height: 25rem;
}

/* 3 column configuration */
.MSQ-applications > div {
    display: flex;
    flex-wrap: wrap;
}
.MSQ-applications > div > div {
    flex-grow: 1;
    width: 50%;
    padding: 3rem 3rem;
    text-align: center;
}

/* settings to define the "DONATE" section */
/* GRID 7 (auto)*/
.MSQ-donate {
  display: flex;
  flex-flow: column nowrap;
  padding: 5rem 5rem;
  align-items: center;
  background: #F7882F;
  min-height: 25rem;
  text-align: center;

}

/* 3 column configuration */
.MSQ-donate > div {
    display: flex;
    flex-wrap: wrap;
}
.MSQ-donate > div > div {
    flex-grow: 1;
    width: 50%;
    padding: 1rem;
    text-align: center;
}


/* settings to define the "Our team 2" section with animation */
/* GRID 9 (auto)*/

.MSQ-team {
  display: flex;
  flex-flow: column nowrap;
  background: #F7C331;  
  text-align: center;
  padding-top: 1rem;
}

/* 3 column configuration */
.MSQ-team > div > div {
    display: flex;
    flex-wrap: wrap;
}
.MSQ-team > div > div > div  {
    flex-grow: 1;
    width: 33%;
    padding: 1rem;
   
}

.heading-title {
    margin-bottom: 1rem;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    self-align: center;
}
.text-uppercase {
    text-transform: uppercase;

}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
    margin-top: 2rem;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

/* settings of social media icons */
ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
      color: white;
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-facebook {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      color: white;
      cursor: pointer;
  }
  .fa-facebook:hover {
      background-color: #3d5b99;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      cursor: pointer;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }
  .fa-instagram {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      cursor: pointer;
  }
  .fa-instagram:hover {
      background-color: #f09433;
  }
  
  .fa-linkedin-square {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      cursor: pointer;
  }
  .fa-linkedin-square:hover {
      background-color: #0073a4;
  }
  .fa-github {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      cursor: pointer;
  }
  /*.fa-github:hover {
      background-color: #0073a4;
  }*/
  .fa-angellist {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      cursor: pointer;
  }
  /*.fa-angellist:hover {
      background-color: #0073a4;
  }
  .fa-youtube {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;

  }
  .fa-youtube:hover {
      background-color: #e64a41;
  }

  .fa-google-plus {
      padding:10px 9px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-google-plus:hover {
      background-color: #e25714;
  } */







/* Bootstrap styles:*/

img{vertical-align:middle}
.img-responsive{display:block;max-width:100%;height:auto}





/* TERMS & CONDITIONS page /terms.html */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.MSQ-terms {
  
  max-width: 1000px;
  
  padding: 50px;
  margin: 1rem auto;
  background: white;
  border-radius: 25px; /* borders round */
}

.MSQ-terms > section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  
}

.MSQ-terms > input {
  display: none;
}

.MSQ-terms >label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  cursor: pointer;
}

.MSQ-terms > input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab-terms1:checked ~ #content1,
#tab-terms2:checked ~ #content2,
#tab-terms3:checked ~ #content3,
#tab-terms4:checked ~ #content4 {
  display: block;
}

/*responsive Design for-phone-only*/
@media screen and (max-width: 599px) {

html {
font-size: 14px;
}

body {
    background-color: #6B7A8F;
    background-image: none;
}


header h5{
color: transparent;
font-size: 1px;
}
footer {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  }
footer .right {
  margin: auto;
}

.main-section1 {
  max-width: 600px;
  margin: 2.5rem auto 5rem auto;
  padding: 1rem;
}
.main-section1 > div > div {
  flex-flow: row nowrap;
}

.MSQ-welcome >div {
  flex-flow: wrap;
  width: 100%;
  justify-content: center;

}

.MSQ-values {
  padding: 1rem;
}

.MSQ-applications {
  padding: 2rem;
  min-height: 5rem;
}

.MSQ-applications > div > div {
  width: 100%;
  padding: 1rem;

  }

.MSQ-donate {
  padding: 3rem 0 0 0;
  margin-bottom: 0:;
}
.MSQ-donate > div > div {
  width: 100%;
  }

.BounceArrow { 
  display: none ;
}

.prev, .next {
  display: none ;
 } 

 .team-hover {
  display: none ;
 }

.mySlides {
  padding: 1rem 0;
 } 
.slideshow-container {
  padding: 3rem 0 2rem 0;

}
/* responsive Design for-tablet-portrait-up*/
@media screen and (max-width: 899) {
  body {
    background-color: #6B7A8F;
    background-image: none;
}
.prev, .next {
  display: none ;
 } 

 .team-hover {
  display: none ;
 }

.mySlides {
  padding: 1rem 0;
 } 
.slideshow-container {
  padding: 3rem 0 2rem 0;

}
}
/* responsive Design for-tablet-landscape-up
@media screen and (min-width: 900px) {
  
}*/
/* responsive Design for-desktop-up
@media screen and (min-width: 1200px) {
  
}*/
/* responsive Design for-big-desktop-up
@media screen and (min-width: 1800px) {
  
}*/

