/* Main .css file for the Landing page (index.html) */

/* settings to define the default font and parameters */
html {
  font-size: 15px;
  color: white;
  /*font-family: 'Cinzel', serif;*/
  font-family: 'Lato', sans-serif; 
}

/* settings to define the structure of the site and the photo for the background. In this ocassion, GRID is used with 7 rows */
body {
  /* display: grid; */
  grid-template-rows: 2.5rem auto auto auto auto auto 2.5rem;
  align-content: center;
  margin: 0 auto;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-student-quarters.appspot.com/o/MSQ%20Website%2FLanding%20page%20Photo.png?alt=media&token=b86a316b-6531-4ca8-a472-0b38c2ce8597);
  min-height: 100%;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* setting to define the Header. FLEX is used to structure the section and the font is also different here */
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* justify-content: space-around;
  /* font */
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 20px;
  /* bottom border line */
  border-bottom: 1px white solid;
  margin: 1rem 3rem;
}
/* margins and alignment for the header */
  header div {
    margin-left: 20px;
  }
  header .right {
    margin-left: auto;
  }
  /* logo size */
  .logo {
    width: 50px;
    height: 50px;
  }

/* setting to define the Footer. FLEX is used to structure the section and the font is also different here */  
footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
  /* margins and alignment for the footer */
  margin: 1rem 3rem;
  /* padding: .5rem 100px; */
  
  /* font */
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 20px;
  
  /* Top border line */
  border-top: 1px white solid;
}
footer div {
  margin-left: 20px;
}
footer .right {
  margin-left: auto;
}
/* logo size */
.logo-footer {
  width: 30px;
  height: 30px;
}

/* settings to define the "My Student Quarters" main title */
.title {
  text-align: center;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 40px;
  margin: -2rem;
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(0, 0, 0, .5); /* translucid background*/
  max-width: 800px;
  margin: 2.5rem auto;
  padding: 1rem 50px;
  align-items: center;
  margin: 1rem auto;
  border-radius: 25px; /* borders round */
}

/* settings to define the "What is My Student Quarters" section */
.MSQ-what {
  /* min-height: 25rem; */
}
/* settings to define the "What is My Student Quarters vision" section */
.MSQ-vision {
  /* min-height: 25rem; */
}
/* settings to define the "Our Values" section */
.MSQ-values {
  /* min-height: 25rem; */
}
/* settings to define the "Applications" section */
.MSQ-applications {
  /* min-height: 25rem; */
  
}

/* settings to define the buttons.  */
.button-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  background:    #f7c331;
  border-radius: 5px;
  padding:       .5rem 15px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 18px/1 "Lato", sans-serif;
  text-align:    center;
  text-shadow:   none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.button a {
  text-decoration: none;
}

.button a:visited {
  color: inherit;
}

  /* .button.ambassador {

  }

  .button-landlord {
  }

  .button-rent {
  } */

  .button-apply-ambassador {
    align-items: center;
  }

  .button-apply-landlord {
    align-items: center;
  }

  .button-apply-rent {
    align-items: center;
  }
  
  /* h2, */
  h3,
  h4,
  h5,
  h6 {
      margin:  1% 0 1% 0;
  }

  /* ._12 {
      font-size: 1.2em;
  }
  ._14 {
      font-size: 1.4em;
  }
  */
  ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
      color: white;
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-facebook {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      color: white;
  }
  .fa-facebook:hover {
      background-color: #3d5b99;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }
  .fa-instagram {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-instagram:hover {
      background-color: #f09433;
  }
  /* .fa-youtube {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;

  }
  .fa-youtube:hover {
      background-color: #e64a41;
  }
  .fa-linkedin {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-linkedin:hover {
      background-color: #0073a4;
  }
  .fa-google-plus {
      padding:10px 9px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-google-plus:hover {
      background-color: #e25714;
  } */