/* .css file with all the text written in the landing page (index.html). Language=English*/

/* Text for section "What is My Student Quarters" */
.txt-what:after {
  content:'What is My Student Quarters?';  
} 
.txt-what2:after {
  content:'My Student Quarters is your one-stop shop (well, website) for everything related to off-campus student housing. Our site guides you from finding your next apartment to picking up your security deposit after your lease ends.';
}
.txt-what3:after {
  content:'We work with landlords and realtors to post local units with professional pictures, lease information, and even a map that shows you the unit\'s distance to your university.';
}
.txt-what4:after {
  content:'With 50+ housing filters, you are able to search efficiently for housing that meets your living style, including variable lease lengths. Once you found your spot, our verified platform connects you with the landlord, safely transfers your security deposit and signed lease, and creates a housing profile for storage of all files and information related to your current unit.';
} 
.txt-what5:after {
  content:'This housing profile will be where you can set up automatic monthly rent payments, search for roommates, or contact us with questions related to your housing. My Student Quarters knows what it\'s like to be a student, because we are students too.';
}  
.txt-what6:after {
  content:'There are a lot of exciting, stressful challenges associated with being a student, but finding and maintaining your housing no longer has to be one of them.';
}  
.txt-what7:after { 
  content:'We are My Student Quarters - housing made for students, by students.';
}

/* Text for section "What is the MSQ vision" */
.txt-vision:after {
  content:'What is the MSQ Vision?'
}  
.txt-vision2:after {
  content:'As a new company, we plan to start strong with the basics and expand with time. Right now, we are focusing on the heart of our product: to make finding housing as a student easy and efficient from the comfort of your computer. As we all know, there is much more that goes into student housing than just finding your apartment and paying for it.' <br> 'MSQ wants to be involved in those details too. We have a number of (self-proclaimed) smart, creative ideas that will be added to the site as our platform continues to grow.'
}  
.txt-vision201:after {
  content:'MSQ wants to be involved in those details too. We have a number of (self-proclaimed) smart, creative ideas that will be added to the site as our platform continues to grow.'
}  
.txt-vision202:after {
  content:'Get ready to make everything related to your student housing easy and fun!'
}
.txt-vision3:after {
  content:'What Makes Us So Unique?'
}
.txt-vision4:after {
  content:'We are student housing that is made for students, by students. We know what it is like to be a student and we live in the same environment as our customers. We are the customer.'
}
.txt-vision401:after {
  content:'Our company keeps students involved by offering an ambassador program, full and part-time paid positions, and internships.'
}
.txt-vision402:after {
 content:'We put the power in our people!'
}
.txt-vision5:after {
  content:'What is it That Provides Value to Our Service?' 
}
.txt-vision6:after {
  content:'Two words - Convenience and Security!'
}
.txt-vision7:after {
  content:'We make finding a house quick, easy, and safe. As the search-engine for student housing, we do all the dirty work to find and post units near your university, you only have to rent off the site with a few simple clicks!'
}
.txt-vision701:after {
  content:'All members, landlords and students alike, are verified by our platform before being able to access the website. All money transfers are safely processed online and security deposits are returned to the student by us after we are given the "OK" by both parties (student and landlord).'
}
.txt-vision702:after {
  content:'Students and landlords can also be reviewed by one another after a lease ends so future partnerships can make more educated decisions before signing a lease agreement.'
} 

/* Text for section "Our values" */
.txt-values:after {
  content:'Our Values:'
}
.txt-values2:after {
  content:'Quality'
}
.txt-values201:after {
  content:'To provide an outstanding product with incomparable service'
} 
.txt-values3:after {
  content:'Integrity'
}
.txt-values301:after {
  content:'We uphold the highest level of integrity in all our actions and expect the same from the My Student Quarters community'
} 
.txt-values4:after {
  content:'Customer Commitment'
}
.txt-values401:after {
  content:'We strive to make a positive difference in our customers\' housing accommodations. Our customers are more than just the renter, they are the foundation of our company.'
} 
.txt-values5:after {
  content:'Respect'
}
.txt-values501:after {
  content:'Everyone, no matter how big or small, old or young, brown or purple, is welcomed with open arms to our community. R-E-S-P-E-C-T'
} 
.txt-values6:after {
  content:'Convenience'
}
.txt-values601:after {
  content:'I spent an hour checking emails today. I can’t get that hour back. We strive to make your time “house searching” efficient.'
} 
.txt-values7:after {
  content:'Freedom of Speech'
}
.txt-values701:after {
  content:'This is your housing, we simply created the platform for it. We’re passing the baton to you. Reviews, discussion boards, and a company that makes space in the office for students'
}
.txt-values702:after {
  content:'All created with your voice in mind.'
} 
/* Tex for section "Our Service Applications" */ 

.txt-applications:after {
  content:'Our Service Applications:'
}
.txt-applications2:after {
  content:'Landlord Application'
}
.txt-applications201:after {
  content:'If you are interested in renting out your apartment, spare room, or vacation home please complete a "Landlord" application so we know who you are. For more details, click here.'
}
.txt-applications3:after {
  content:'Rent Your Place Application'
} 
.txt-applications301:after {
  content:'If you are renting out your location, please complete a "Rent Your Place" application so we know the details of your unit. For more details, click here.'
}
.txt-applications4:after {
  content:'MSQ Ambassador Application'
}
.txt-applications401:after {
  content:'If you are interesting in working with the MSQ team in one way or another, please complete a "MSQ Ambassador" application. For more details, click here.'
}
